<body > 
    <h1> Add Note</h1><br>
    <form action="" method="POST" >
        {% csrf_token %}
        <div class="col">
            <input type="text"  placeholder="Nama Event" name="title" required>
        </div>
        <br>
        <div class="col">
            <input type="datetime-local" placeholder="Waktu Event" name="time" required>
        </div>
        <br>
        <div class="col">
            <input type="text" placeholder="Title" name="description" style="height:120px; width:200px;" required>
        </div>
        <br>
        <input class="btn btn-primary" style = "background-color: #FFFFFF; color: #393E46; border-color: rgb(108, 74, 74); " type ="submit" value="Submit">
        <input class="btn btn-primary" style = "background-color: #FFFFFF; color: #393E46; border-color: rgb(108, 74, 74); " type ="reset" value="Cancel">
    </form>
</body>