{% extends 'base.html' %}
{% load static %}
{% block content %}
  </div>
  </div>
  {% if user.is_authenticated %}
  <div class="container">
    <form action="create-event">
        <input type="submit" class="btn btn-dark" value="Add Event"/>
    </form>
  </div>
  {% endif %}

  <div class="container">
    {% for quest in q %}
    <div class="card mb-3" >
      <div class="card-body">
        <h4 class="card-title"><a href="/schedule/detail/{{quest.id}}">{{quest.description}}</a></h4>
        <p class="card-test">{{quest.datetime}}</p>
      </div>
    {% endfor %}
    <br>
    {% for event in e %}
    <div class="card mb-3" >
      <div class="card-body">
        <h4 class="card-title"><a href="/schedule/detail/{{event.id}}">{{event.title}}</a></h4>
        <p class="card-test">{{event.time}}</p>
      </div>
    {% endfor %}
        {% endblock %}
